---
title: RFK | Blog
extends: base.j2
---

{% block page_meta %}
<link rel="alternate" title="RFK | Blog | Atom Feed" href="http://www.rfk.id.au/blog/feeds/atom.xml" type="application/atom+xml" />
{% endblock %}


{% from "macros.j2" import render_excerpt with context  %}
{% block page_content %}

{% for res in resource.node.walk_resources_sorted_by_time()[:5] %}
    {{ render_excerpt(res) }}
    <hr />
{% endfor %}

<div class="blog-footer">

<div class="blog-footer-left">
</div>

<div class="blog-footer-right">
<a href="/blog/all.html">view all entries...</a>
</div>

</div>

{% endblock %}
