---
title: RFK | Home
default_block:
---

{% block page_meta %}
<link rel="alternate" title="RFK | Blog | Atom Feed" href="http://www.rfk.id.au/blog/feeds/atom.xml" type="application/atom+xml" />

<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=rfk.myopenid.com" />
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://rfk.myopenid.com/" />
{% endblock %}

{% block page_content %}

<p>I am a software developer based in Melbourne, Australia.  Most of my days are spent coding in Python and JavaScript, commercially through <a href="http://www.cloudmatrix.com.au/">Cloud Matrix</a> and for a variety of <a href="/software/">open-source projects</a>.  I also maintain a strong interest in logic programming, mainly as a result of my <a href="/ramblings/research/">doctoral thesis</a>.  I am occasionally available for contract development and consulting work; please read <a href="/about/">more about me</a> and check out my <a href="/about/cv.html">curriculum vitae</a> if you're interested.</p>
<hr>


{% from "macros.j2" import render_excerpt with context %}
{% set latest = site.content.walk_resources_sorted_by_time()[:2] %}

{% for post in latest %}
  {{ render_excerpt(post, 'post') }}
  <hr />
{% endfor %}

{% endblock %}
