---
title: RFK | Home
default_block:
---

{% block page_meta %}
<link rel="alternate" title="RFK | Blog | Atom Feed" href="http://www.rfk.id.au/blog/feeds/atom.xml" type="application/atom+xml" />

<meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=rfk.myopenid.com" />
<link rel="openid.server" href="http://www.myopenid.com/server" />
<link rel="openid.delegate" href="http://rfk.myopenid.com/" />
{% endblock %}

{% block page_content %}

<p>I am a software developer based near Melbourne, Australia.  Most of my days are spent coding in Python and JavaScript, commercially as an engineer at <a href="http://www.mozilla.org/">Mozilla</a> as well as for a variety of <a href="https://github.com/rfk/">open-source projects</a>.  I also maintain a strong interest in logic programming, mainly as a result of my <a href="/ramblings/research/">doctoral thesis</a>.  Read <a href="/about/">more about me</a> and check out my <a href="/about/cv.html">curriculum vitae</a> if you want to know more.</p>
<hr>


{% from "macros.j2" import render_excerpt with context %}
{% set latest = site.content.walk_resources_sorted_by_time()[:2] %}

{% for post in latest %}
  {{ render_excerpt(post, 'post') }}
  <hr />
{% endfor %}

{% endblock %}
