<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="{{ resource.meta.charset }}">
  <meta http-equiv="X-UA-Compatible" content="{{ resource.meta.compatibility }}">

  <title>{% block page_title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="Author" content="Ryan Kelly" />
  <meta name="Copyright" content="2008-2011, Ryan Kelly" />
  {% block page_meta %}{% endblock %}

  <!-- <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}"> -->

  {% block page_css %}
  <link rel="stylesheet" href="{{ media_url('css/syntax.css') }}" type="text/css" media="screen, projector">
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}" type="text/css" media="screen, projector">
  <link rel="stylesheet" href="{{ media_url('css/blueprint/print.css') }}" type="text/css" media="print" /> 
  {% endblock page_css %}

</head>
<body id="page-{{ resource.meta.id if resource.meta.id else resource.slug }}">

  <div id="header">
  <div class="container">
  <div id="header-contents">
    <div id="logo-block">
      <div id="logo-text">Ryan Kelly</div>
      <div id="logo-tag">code, opinions, etcetera</div>
    </div>
    &nbsp;
{% if menu -%}
    <ul id="nav-menu">
        {% for item in menu -%}
        {% if item.name.lower() == "home" %}
            {% set active = (resource.url ==
                site.content.resource_from_relative_path(item.url).url) %}
        {% else %}
          {% set active = resource.url.startswith(item.name.lower()) %}
        {% endif %}
        <li {% if active %} class="selected" {% endif %}>
            <a title="{{ item.description }}"
                href="{{ content_url(item.url) }}">
                {{ item.name }}</a>
            
        </li>
        {%- endfor %}
    </ul>
{%- endif %}

  </div>
  </div>
  <div id="header-bottom">&nbsp;</div>
  </div>


  <div id="content-block" class="container">
  <div id="content-sizer" class="column span-24">

  <div id="content" class="column span-18 colborder">
  {% block page_content %} Content goes here. {% endblock %}
  </div>

  <div id="sidebar" class="column span-5 last">
   {% block page_sidebar %}
   {% block page_sidebar_blurb %}
   <p>I am a software developer specialising in Python, JavaScript, and Logic Programming.  I live in a <a href="http://en.wikipedia.org/wiki/Inverloch,_Victoria">seaside village</a> near Melbourne, Australia and currently work for <a href="http://www.mozilla.org">Mozilla</a>.</p>
   {% endblock %}

   <br /><hr /><br />

   <div>
   <a href="http://au.linkedin.com/in/ryanfkelly" ><img src="http://www.linkedin.com/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Ryan Kelly's profile on LinkedIn"></a>
   </div>

   <div>
   <a href="http://www.twitter.com/rfkelly"><img src="http://twitter-badges.s3.amazonaws.com/twitter-a.png" alt="Follow rfkelly on Twitter"/></a>
   </div>
   {% block page_sidebar_extra %}
   {% endblock %}
   {% endblock %}
  </div>

  </div>
  </div>


  <!--  use google-CDNed jQuery if possible, fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="//media/js/libs/jquery-1.10.1.min.js"><' + '/script>')</script>

  <!-- activate google analytics -->
   <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17899119-1']);
    _gaq.push(['_trackPageview']);
    (function() {
       var ga = document.createElement('script');
       ga.type = 'text/javascript';
       ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0];
       s.parentNode.insertBefore(ga, s);
     })();
   </script>

  <!-- activate disqus if there's any appropriately-tagged nodes -->
  <script type="text/javascript">
  //<![CDATA[
  (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="//disqus.com/forums/rfkelly/get_num_replies.js' + query + '"></' + 'script>');
  })();
  //]]>
  </script>

 {% block page_js_extra %}
 {% endblock %}

</body>
</html>
