{% extends "base.j2" %}

{% block page_meta %}
<link rel="alternate" title="RFK | Blog | Atom Feed" href="http://www.rfk.id.au/blog/feeds/atom.xml" type="application/atom+xml" />
{% endblock %}


{% block page_content -%}

{% from "macros.j2" import render_entry_header with context %}
{{ render_entry_header(resource) }}

{% block blog_post_body -%}{%- endblock %}

<hr />

<div class="blog-footer">

<div class="blog-footer-left">
{% if resource.next_by_time %}
<a class="next{{' disabled' if not resource.next_by_time }}"
    title="{{ resource.next_by_time.meta.title }}"
    {% if resource.next_by_time %}
    href="{{ content_url(resource.next_by_time.url) }}"{% endif %}>
    &lt;&lt;&lt; {{ resource.next_by_time.meta.title }}
</a>
{% endif %}
</div>

<div class="blog-footer-right">
{% if resource.prev_by_time %}
<a class="prev{{' disabled' if not resource.prev_by_time }}"
    title="{{ resource.prev_by_time.meta.title }}"
    {% if resource.prev_by_time %}
    href="{{ content_url(resource.prev_by_time.url) }}"{% endif %}>
    {{ resource.prev_by_time.meta.title }} &gt;&gt;&gt;
</a>
{% endif %}
</div>

</div>

{%- endblock %}

{% block page_sidebar_extra %}
{%- endblock %}

{%- block page_js_extra %}
{%- endblock %}
