{% extends "base.j2" %}

{% from "macros.j2" import render_excerpt with context  %}
{% block page_content %}

{% for res in resource.node.walk_resources_sorted_by_time()[:5] %}
    {{ render_excerpt(res) }}
    <hr />
{% endfor %}

{% block blog_listing_footer %}
{% endblock %}

{% endblock %}
