{% extends "base.j2" %}

{% block page_sidebar_blurb %}

<p>
  <ul>
  <li><a href="./index.html">PyEnchant Home</a></li>
  <li><a href="./download.html">Downloads</a></li>
  <li><a href="./tutorial.html">Tutorial</a></li>
  <li><a href="./faq.html">FAQ</a></li>
  </ul>
  <p> </p>
  <ul>
  <li><a href="http://groups.google.com/group/pyenchant-users">Mailing List</a></li>
  <li><a href="http://github.com/rfk/pyenchant/issues">Bug Reports</a></li>
  <li><a href="http://github.com/rfk/pyenchant/tree/master">Git Repository</a></li>
  <li><a href="http://pypi.python.org/pypi/pyenchant/">PyPI Entry</a></li>
  </ul>
</p>


<br /><hr /><br />

{{ super() }}

{% endblock %}

