---
default_block: 
title: RFK | Curriculum Vitae
description: Curriculum Vitae of Ryan Francis Kelly
---

{% block page_css %}

{{ super() }}

<style type="text/css">

h2 {
  border-top: dotted 1px #000064;
  padding-top: 2em;
  margin-top: 2em;
}

h2 a {
  border-bottom: dotted 1px #000064;
}

h4 {
  margin-bottom: 0.2em;
}
div.techcheck {
  margin: 1em;
  float: left;
}

span.details {
  display: block;
  font-size: x-small;
}

</style>
{% endblock %}


{% block page_sidebar %}

{% endblock %}


{% block page_content %}
  <h1>Curriculum Vitae of Ryan Francis Kelly</h1>

   <p>I am a software developer and occasional consultant.  I live in a <a href="http://en.wikipedia.org/wiki/Inverloch,_Victoria">seaside village</a> near Melbourne, Australia and currently work remotely for <a href="https://www.mozilla.com/">Mozilla</a>.  The best way to contact me is by email:</p>
  <p><span class="email-addr">&#114;ya&#110;&#64;&#114;&#102;&#107;&#46;&#105;d&#46;&#97;u</span></p>

  <p>Professionally, I have worked as a programmer and system administrator for over a decade.  I am particularly experienced with the Python programming language, which I have used to develop both web-based and desktop applications. I also have substantial experience with JavaScript and enjoy logic programming using languages such as Prolog and Mozart.</p>

  <p>Academically, I have completed a PhD in Computer Science with the Intelligent Agents Laboratory at the University of Melbourne.  My undergraduate studies were a double bachelor's degree in Engineering and Computer Science, which I was awarded with first class honours.</p>

  <p>Personally, I enjoy public speaking, theatre and performance arts of any persuasion.  I am a keen hiker and camper, even though it means being disconnected from the Internet for days at a time.</p>

  <p>More details are available in the sections below:</p>
  <ul>
  <li><a href="#employment">Employment History</a></li>
  <li><a href="#education">Education</a></li>
  <li><a href="#skills">Skills Checklist</a></li>
  <li><a href="#languages">Programming Languages</a></li>
  <li><a href="#presentations">Presentations</a></li>
  <li><a href="#publications">Publications</a></li>
  <li><a href="#positions">Positions of Responsibility</a></li>
  <li><a href="#awards">Awards and Scholarships</a></li>
  <li><a href="#personal">Personal Interests</a></li>
  </ul>

  <h2><a name="employment">Employment History</a></h2>

  <h3>Software Engineer, Mozilla
  <span class="details">September 2011 to Present</span></h3>
  <p>I currently work as a Senior Software Engineer for <a href="http://www.mozilla.com/">Mozilla</a>, building backend servers in python and node.js with the Cloud Services team.  Most recently I have been part of the team behind the <a href="https://accounts.firefox.com/">new account system</a> and <a href="https://blog.mozilla.org/services/2014/02/07/a-better-firefox-sync/">improved sync service</a> that launched with Firefox 29.</p>


  <h3>Director/Lead Developer, Cloud Matrix
  <span class="details">July 2009 to December 2011</span></h3>
  <p>I co-founded and was lead developer at <a href="http://www.cloudmatrix.com.au/">Cloud Matrix</a>, a small Melbourne-based startup in the cloud storage space.  We built <a href="http://www.saltdrive.com/">SaltDrive</a>, an encrypted cloud-enabled USB stick.  The SaltDrive technology stack was predominantly python including PySide for the desktop client, Django and jQuery for the website, and some custom python code to interface with Amazon Web Services for file storage.</p>


  <h3>Freelance Developer and Consultant
  <span class="details">November 2008 to September 2011</span></h3>
  <p>I have done occasional work as a freelance developer and software consultant.  My past projects have involved developing Python-based desktop and online applications, and code maintenance and translation services for Prolog.</p>


  <h3>Programmer, The Victorian Partnership for Advanced Computing
  <span class="details">March 2004 to November 2008</span></h3>
  <p>After completing my Summer Internship with the Victorian Partnership for Advanced Computing, I undertook ongoing programming work on a casual basis.  My roles have ranged from developer to software architect, handling the design and development of software for engineering applications.</p>

 <p>Most recently, I was the lead architect and developer for a web-based project management portal used to coordinate research and development activities among several large organisations.</p>


  <h3>Casual Tutor, The University of Melbourne
  <span class="details">July 2005 to June 2006</span></h3>
  <p>While studying for my PhD, I undertook two semesters of casual teaching work in the Department of Computer Science and Software Engineering at the University of Melbourne.  I tutored the subject "Algorithms and Data Structures" and was a lab demonstrator for the subject "Logic and Computation".  Duties included preparing and running both tutorial sessions and practical programming sessions, along with assessment of assignments and marking of exams.</p>
  <p>As a result of significant positive feedback from both students and faculty, in 2006 I was awarded an "Excellence in Tutoring" award from the department.</p>

  <h3>Computational Engineer, The Victorian Partnership for Advanced Computing
  <span class="details">December 2003 to February 2004</span></h3>
  <p>In late 2003 I was selected to undertake a Summer Internship with the Victorian Partnership for Advanced Computing.  This was a paid position which involved developing a piece of engineering software for use in the organisation's computational engineering projects.  The project involved heavy use of the Python programming language, which has since become my favourite language for general development work.</p>

  <h3>IT Manager, Whitley College
  <span class="details">January 2003 to December 2003</span></h3>
  <p>This position was a formalisation of many aspects of the volunteer role I had played at Whitley College in previous years.  As IT Manager I was responsible for coordinating technical support for the College's residents and academic staff, evaluating and implementing new technologies for the campus network, and liaising with student volunteers and with the College's Board of Directors.</p>
  <p>I also filled the role of Project Manager and Lead Developer during an overhaul of the College's public website.</p>

  <h3>Vacation Work, Agilent Technologies
  <span class="details">January 2001 to February 2001</span></h3>
  <p>As part of my undergraduate scholarship with the University of Melbourne's Faculty of Engineering, I obtained vacation employment with Agilent Technologies in Melbourne.  The division to which I was assigned was responsible for updating a major portion of the company website, and my tasks included web-page development and maintenance, content solicitation from other employees, and testing and debugging of the site.</p>

  <h3>System Administrator, Whitley College
  <span class="details">July 2000 to December 2003</span></h3>
  <p>This is a voluntary role that students at Whitley College may take on in order to help maintain and develop the College's information technology facilities.  The IT infrastructure of the entire College is run by such volunteers &ndash; including both the technical aspects of administering servers, email, web-services and so-on, and the personal aspects such as technical support and liaising with College administration.</p>


  <h2><a name="education">Education</a></h2>

  <p>I have a PhD in Computer Science from the University of Melbourne, Department of Computer Science and Software Engineering.  My thesis, entitled "Asynchronous Multi-Agent Reasoning in the Situation Calculus", was submitted in October 2008.  The main outcomes of my research are available here: <a href="http://www.rfk.id.au/ramblings/research/">Ryan's research</a>.</p>

  <p>Prior to this, I obtained a Bachelor of Engineering (Mechatronics) and a Bachelor of Computer Science from the University of Melbourne, graduating with first-class honours.  The subjects undertaken and a summary of my results are available here: <a href="./ugrad-results.html">summary of results</a>.</p>

  <h2><a name="skills">Skills Checklist</a></h2>

  <p>I dislike playing "buzzword bingo", but sometimes it is necessary.  Here's a short list of technologies with which I have particular experience:</p>

  <div class="techcheck">
  <h4>Languages</h4>
  <ul>
  <li>Python</li>
  <li>JavaScript</li>
  <li>C</li>
  <li>Prolog</li>
  <li>Mozart</li>
  </ul>
  </div>

  <div class="techcheck">
  <h4>Data Storage</h4>
  <ul>
  <li>SQL</li>
  <li>Django ORM</li>
  <li>SQLAlchemy</li>
  <li>SQLite</li>
  <li>MySQL</li>
  <li>Memcache</li>
  <li>CouchBase</li>
  </ul>
  </div>

  <div class="techcheck">
  <h4>Web (Server)</h4>
  <ul>
  <li>WSGI</li>
  <li>Django</li>
  <li>Pyramid</li>
  <li>Node.js</li>
  <li>Nginx</li>
  <ul>
  </ul>
  </div>

  <div class="techcheck">
  <h4>Web (Client)</h4>
  <ul>
  <li>HTML</li>
  <li>HTTP</li>
  <li>JavaScript</li>
  <li>XML and JSON</li>
  <li>jQuery</li>
  </ul>
  </div>


  <br style="clear: both" />

  <div class="techcheck">
  <h4>OSs</h4>
  <ul>
  <li>Linux (Ubuntu)</li>
  <li>Windows (XP/Vista/7)</li>
  <li>Mac OSX</li>
  </ul>
  </div>

  <div class="techcheck">
  <h4>Testing</h4>
  <ul>
  <li>Unit Testing</li>
  <li>In-Browser Testing</li>
  <li>Loadtesting</li>
  </ul>
  </div>

  <div class="techcheck">
  <h4>VCS</h4>
  <ul>
  <li>Git</li>
  <li>Mercurial</li>
  <li>Subversion</li>
  </ul>
  </div>


  <p style="clear: both" />
  

  <h2><a name="languages">Programming Languages</a></h2>

  <p>I enjoy programming languages of any shape or form, and have had at least a passing familiarity with many including Java, C++, Haskell, PHP and Lisp.  I have listed below only those in which I consider myself fluent.</p>

  <h3>Python</h3>
  <h3><span class="details">Skill Level:  Expert</span></h3>

  <p>Python is currently my language of choice for general-purpose development, as shown by its prevalence among my current <a href="/software/">open-source software projects</a>.  Like many Pythonistas, I appreciate the language's simplicity and its elegant conceptual model.  I've come to depend on Python's comprehensive standard library and the great variety of software available on the <a href="http://pypi.python.org/">Python Package Index</a> to get things done quickly and easily.</p>
  <p>However, there are a few things I miss from other languages &ndash; anonymous function definitions, logic variables, and futures being the main offenders.</p>

  <p>Some of my more popular open-source Python projects include:</p>
  <ul>
  <li><a href="https://github.com/rfk/esky/">Esky</a>:  an auto-update framework for frozen Python apps</li>
  <li><a href="https://github.com/rfk/pypyjs">PyPy.js</a>:  a javascript backend and JIT target for the PyPy python interpreter</li>
  <li><a href="https://github.com/rfk/playitagainsam">playitagainsam</a>:  a presentation tool for recording and replaying live terminal sessions</li>
  </ul>


  <h3>JavaScript</h3>
  <h3><span class="details">Skill Level:  Advanced</span></h3>

  <p>JavaScript was the first programming language I ever learned and I have been using it sporadically for over ten years.  The rise of node.js in recent years has seen me deploying it on both client and server (and occasionally typing "===" into my python code when I jump between projects).  Aside from the obvious list of warts, I find JavaScript to be very powerful and highly productive language.</p>

  <p>Some of my more popular open-source JavaScript projects include:</p>
  <ul>
  <li><a href="https://github.com/rfk/playitagainsam-js">playitagainsam-js</a>:  a web-based player for recorded terminal sessions</li>
  <li><a href="https://github.com/mozilla/awsboxen">awsboxen</a>:  a node.js deployment tool built on Amazon Cloud Formation</li>
  <li><a href="http://github.com/rfk/xmlns/">jquery.xmlns</a>:  a jQuery plugin providing CSS-3 namespace selector syntax</li>
  </ul>


  <h3>C</h3>
  <h3><span class="details">Skill Level:  Advanced</span></h3>

  <p>While I rarely choose to develop in C unless execution speed is of the utmost importance, my involvement with open-source projects ensures I have sufficiently regular exposure to the language to maintain a comfortable familiarity.  I also taught an algorithms and data structures class using C as the implementation language, so I have significant experience at reading a wide variety of C code &ndash; from the very good to the very hard to decipher.</p>

  <p>Some of my more popular open-source JavaScript projects include:</p>
  <ul>
  <li><a href="http://github.com/rfk/tnetstring/">tnetstring</a>:  a data serialisation language, similar in spirit to JSON but easier to parse and render.</li>
  </ul>


  <h3>Prolog</h3>
  <h3><span class="details">Skill Level:  Competent</span></h3>

  <p>I have used Prolog throughout my academic career, as it is the language of choice for research in symbolic artificial intelligence.  I also taught Prolog to undergraduate students for two semesters, an experience I thoroughly enjoyed.  My sentiments on Prolog echo those of ESR on Lisp: learning Prolog will make you a better programmer, even if you don't use it for your day-to-day programming.   And let's face it, most people probably <i>shouldn't</i> use Prolog for their day-to-day programming &ndash; but for problems that fit within Prolog's domain of expertise, it's hard to beat.</p>

  <p>I have no open-source projects in Prolog, but the work from my PhD thesis is a good example of my skillset:</p>
  <ul>
  <li><a href="http://www.rfk.id.au/ramblings/research/thesis/MIndiGolog0.tar.gz">MIndiGolog0</a>:  an offline planning system for the MIndiGolog language</li>
  <li><a href="http://www.rfk.id.au/ramblings/research/thesis/PKnows-0.9.9.tar.gz">PKnows</a>:  a reasoning platform for complex epistemic modalities such as common knowledge</li>
  </ul>


  <h3>Mozart</h3>
  <h3><span class="details">Skill Level:  Competent</span></h3>

  <p>Mozart is a multi-paradigm programming language with some incredibly powerful features.  In my thesis I used its strong support for distributed logic programming to implement a planning system that automatically distributes its workload across a team of agents.  More than any other language, Mozart has introduced me to features that I now wish I could use everywhere - examples include dataflow synchronisation, futures, lightweight micro-threads, and first-class computation spaces.<p>

  <p>I have no open-source projects in Mozart, but the work from my PhD thesis is a good example of my skillset:</p>
  <ul>
  <li><a href="http://www.rfk.id.au/ramblings/research/thesis/MIndiGolog1-0.9.9.tar.gz">MIndiGolog1</a>:  an online distributed planning system for the MIndiGolog language</li>
  <li><a href="http://www.rfk.id.au/ramblings/research/thesis/MIndiGolog2-0.9.9.tar.gz">MIndiGolog2</a>:  an offline, distributed, asynchronous planning system for the MIndiGolog language</li>
  </ul>

  <h2><a name="presentations">Presentations</a></h2>

  <p>I love to talk, present and discuss just about anything software-related, from new technologies and tools to the philosophy of API design.  My recent conference presentations can be viewed below:</p>

  <ul>
  <li><a href="http://www.youtube.com/watch?v=8C9q94F6Uqo">PyPy.js: What? How? Why?</a>.  PyCon Australia, 2014.</li>
  <li><a href="http://pyvideo.org/video/2378/testing-for-graceful-failure-with-vaurien-and-mar-">Testing for Graceful Failure with Vaurien and Loads</a>.  Kiwi PyCon, 2013.</li>
  <li><a href="http://pyvideo.org/video/2229/testing-for-graceful-failure-with-vaurien-and-mar">Testing for Graceful Failure with Vaurien and Marteau</a>.  PyCon Australia, 2013.</li>
  <li><a href="http://pyvideo.org/video/1646/the-lazy-devs-guide-to-testing-your-web-api">The Lazy Dev's Guide to Testing Your Web API</a>.  PyCon Australia, 2012.</li>
  <li><a href="http://pyvideo.org/video/958/deep-freeze-building-better-stand-alone-apps-wit">Deep Freeze: building better stand-alone apps with Python</a>.  PyCon US, 2012.</li>
  <li><a href="http://pyvideo.org/video/1000/bytecode-what-why-and-how-to-hack-it">Bytecode: What, Why, and How to Hack it</a>.  PyCon Australia, 2011.</li>
  <li><a href="http://pyvideo.org/video/989/say-what-you-mean-meta-programming-a-declarative">Say What You Mean: Meta-Programming a Declarative API</a>.  PyCon Australia, 2011.</li>
  <li><a href="http://pyvideo.org/video/470/pyconau-2010--esky--keep-your-frozen-apps-fresh">Esky: keep your frozen apps fresh</a>.  PyCon Australia, 2010.</li>
  </ul>

  <h2><a name="publications">Publications</a></h2>

  <p>I co-authored the following publications as a result of my doctoral studies:</p>

  <ul>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Asynchronous Knowledge with Hidden Actions in the Situation Calculus</i></b>. Artificial Intelligence 221, pp. 1-35, 2015.</li>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Property Persistence in the Situation Calculus</i></b>. Artificial Intelligence 174, pp. 865-888, 2010.</li>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Complex Epistemic Modalities in the Situation Calculus</i></b>, in Proceedings of the 11th International Conference on Principles of Knowledge Representation and Reasoning, 2008.</li>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Knowledge and Observations in the Situation Calculus</i></b>, in Proceedings of the 2007 International Conference on Autonomous Agents and Multi-Agent Systems, 2007.</li>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Property Persistence in the Situation Calculus</i></b>, in Proceedings of the 20th International Joint Conference on Artificial Intelligence, 2007.</li>
  <li>Ryan F. Kelly and Adrian R. Pearce. <b><i>Towards High-Level Programming for Distributed Problem Solving</i></b>, in Proceedings of the 2006 IEEE/WIC/ACM International Conference on Intelligent Agent Technology, 2006.</li>
  </ul>

  <h2><a name="positions">Positions of Responsibility</a></h2>

  <p>I am always on the lookout for ways to get involved in my community.  Some roles that I've taken on in the past include:</p>

  <ul>
  <li>Program Committee Member, PyCon Australia Conference (2012 &ndash; 2014)</li>
  <li>Registration Manager, PyCon Australia Conference (2010 &amp; 2011)</li>
  <li>President, the Computer Science and Software Engineering Postgraduate Group, University of Melbourne (2006)</li>
  <li>President, the University of Melbourne Inter-Collegiate Council (2003)</li>
  <li>Residential Adviser, Whitley College (2003)</li>
  <li>President, the Whitley College Student's Club (2002)</li>
  <li>Secretary, the Whitley College Student's Club (2001)</li>
  <li>President, the Whitley and Ridley Theatre Society (2001)</li>
  </ul>

  <h2><a name="awards">Awards and Scholarships</a></h2>

  <ul>
  <li>Excellence in Tutoring Award, University of Melbourne (2006)</li>
  <li>Australian Postgraduate Award, University of Melbourne (2004)</li>
  <li>Faculty of Engineering Dean's Honour List, University of Melbourne (2004,2002,2001,2000)</li>
  <li>W.S. Robinson Prize for Professional Practise, University of Melbourne (2004)</li>
  <li>David Silver Prize, Faculty of Engineering, University of Melbourne (2000)</li>
  <li>Partnership Scholarship, Faculty of Engineering, University of Melbourne (2000)</li>
  <li>TJ Ryan Memorial Medal and Scholarship, Queensland Government (2000)</li>
  </ul>

  <h2><a name="personal">Personal Interests</a></h2>

  <p>Outside of computer science, my interests include the following:</p>

  <p><b>Public Speaking: </b> I have completed 2 years of training in Effective Communication, an area encompassing public speaking and general communications skills.  I achieved a pass with distinction (91%) in Grade Four of the Trinity College London Effective Communication Examination, an internationally-recognised award.  I enjoy debating and during my residence was  a long-standing member of the Whitley College debating team.</p>

  <p><b>Theatre:</b> I have had major roles in a number of amateur theatrical/musical productions include <i>Into the Woods</i>, <i>Cosi</i>, <i>The Baker's Wide</i> and <i>Bugsy Malone</i>.  I also enjoy impromptu theatre and I am a keen participant in theatrical challenges such as Theatre Sports.</p>

  <p><b>Hiking and Camping:</b> I have a growing interest in hiking, camping, and related outdoor activities, and have been exploring local Victorian attractions such as the Grampians, Croajingolong National Park, and most recently a five-day hike through Wilson's Promontory.  Family- and free-time-pending, I hope to expand my horizons in the near future by hiking Tasmania's Overland Trail.</p>

  <h2></h2>

{% endblock %}
