<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />

    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url }}" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@rfkelly">
    <meta name="twitter:site" content="@rfkelly">

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }}">
      <title>{{ page.title }}</title>
    {% else %}
    <meta name="twitter:title" content="Ryan's Ramblings">
    <title>Ryan's Ramblings</title>
    {% endif %}
    
    {% set icon_image = resize_image(path="profile_small.png", width=48, height=48, op="fill") %}
    <link rel="icon" href="{{ icon_image.url }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira Sans|Fira Mono">
    <link rel="stylesheet" href="{{ get_url(path="main.css") }}">
    {% block meta %} {% endblock meta %}
  </head>
  <body>
    {% block header %}
      <header>
        <a class="profile-icon" href="/">
          {% set profile_image = resize_image(path="profile_small.png", width=48, height=48) %}
          <img src="{{ profile_image.url }}" alt="profile picture">
        </a>
        <nav>
            <a href="/about/">About</a>
            <a href="/blog/">Blog</a>
            <a href="https://github.com/rfk">GitHub</a>
            <a href="https://twitter.com/rfkelly">Twitter</a>
        </nav>
      </header>
    {% endblock header %}
    <main>
    {% block content %} {% endblock content %}
    </main>
  </body>
</html>