{% extends "base.html" %}

{% block meta %}
<link rel="stylesheet" href="{{ get_url(path="index.css") }}">
{% endblock meta %}


{% block content %}
<div class="profile">
    {% set profile_image = resize_image(path="profile.jpg", width=250, op="fit_width") %}
    <img src="{{ profile_image.url }}" alt="profile picture">
</div>
<div class="content">
  {{ section.content | safe }}
  <nav>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="https://github.com/rfk">GitHub</a>
    <a href="https://twitter.com/rfkelly">Twitter</a>
</nav>
</div>
{% endblock content %}